<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Phishing Domain Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
        </div>
        <div class="buttons">
            <button onclick="goToPage('')">Home</button>
            <button onclick="goToPage('statistics')">Statistics</button>
            <button onclick="goToPage('contact')">Contact</button>
        </div>
    </header>
    <div class="background">
        <div class="container">
            <h1>About Us</h1>
            <p>
                In this global technological era, the rising cases of malicious acts and threats to sensitive information is a matter of concern.
We are dedicated to safeguarding your online experience by providing a phishing detection solution and provide a safe online browsing!
            </p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Phishing Domain Detector. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
